#title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: inherit;
    position: relative;
}
#anh{
    width: 120px;
    position: absolute;
    left: 180px;
    top: 0px;
}
h1{
    font-size: 2.2em;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #5cafca;
}
