header{
    margin-top: 0px;
    margin-left: 0px;
    height: 50px;
    width: 100vw;
    background-color: rgb(59, 56, 56);
    color:gainsboro;
}
#cong_cu a{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    text-decoration: none;
    color: gainsboro;
}
#cong_cu a:hover{
    color: white;
    cursor: pointer;
}
#nen_tang{
    display: inline;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 1.2em;
}
#than{
    display: flex;
}
#menu{
    width: 35%;
    display: inline-block;
    margin-right: 0px;
}
#category{
    margin-left: 30px;
    border-collapse: collapse;
    width: 350px;
}
#category tr{
    height: 60px;
}
#category td{
    padding-left: 10px;
    color: rgb(0, 89, 255);
    font-size: 1.5em;
}
#slideshow{
    width: 1024px;
    position: relative;
    margin-right: 10px;
}
.slider{
    width: 1024px;
    display: flex;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.slide{
    margin-top: 30px;
    flex-shrink: 0;
    height: 100%;
    width: 100%; 
}
#button span{
    color: white;
    font-size: 60px;
    opacity: 0.8;
}
#btn_prev{
    position: absolute;
    top: 40%;
    left: 1%;
    z-index: 10;
    cursor: pointer;
    transition: 0.6s ease;
}
#btn_next{
    position: absolute;
    top: 40%;
    right: 1%;
    z-index: 10;
    cursor: pointer;
    text-transform: uppercase;
}
#btn_prev:hover, #btn_next:hover{
    background-color: darkgrey;
}
#slidewrap{
    position: absolute;
    bottom: 5%;
    left: 50%;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
#space{
    width: 40%;
}
#product{
    border-spacing: 22px;
    display: block;
}
#product td{
    border: 2px solid gainsboro;
}
.pp{
    width: 315px;
    height: 180px;
    vertical-align: middle;
    background-color: gainsboro;
    color: grey;
    position: relative;
}
.pp h1{
    margin-top: 0px;
    font-size: 2em;
    position: absolute;
    top: 35%;
    left: 28%;
}
h2{
    color: rgb(0, 89, 255);
    margin-bottom: 0px;
}
h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    width: 245px; 
    text-align: justify;
    margin-top: 10px;
    color: gray;
    margin-bottom: 30px;
}
.star{
    width: 315px;
    height: 40px;
    background-color: whitesmoke;
    position: relative;
}
.star i{
    font-size: 10px;
    cursor: pointer;
}
.star div{
    position: absolute;
    top: 20%;
    left: 30px;
}
h2,h3,p{
    margin-left: 30px;
}
#cuoi{
    height: 20vh;
    width: 100vw;
    background-color: rgb(59, 56, 56);
    color: gainsboro;
    text-align: center;
    position: relative;
}
#cuoi div{
    position: absolute;
    top: 40%;
    left: 45%;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
